# API Base URL used by the Axios client in the application
# - For local development bypassing the proxy: http://localhost:8000/api/v1
# - For direct cloud API access: https://recover-a8a6585e.fastapicloud.dev/api/v1
# - For using the Vite dev server proxy: /api/v1
VITE_API_BASE=https://127.0.0.1:8000/api/v1

# The API server proxy target used by Vite dev server during local development
VITE_API_PROXY_TARGET=https://127.0.0.1:8000

# The port on which the Vite development server should run
VITE_PORT=5173
