__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
env.bak/
venv.bak/
node_modules/
recover/

backend/frontend_dist/
# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Config files
backend/alembic.ini
alembic.ini
backend/alembic/versions/

# Scratch & Dump files
scratch_test.py
backend/scratch_test.py
*.sql

