# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/recover_db

# Redis
REDIS_URL=redis://localhost:6379/0

# Salla
SALLA_EVENT_NAME=order.abandoned

# App
APP_ENV=development
APP_SECRET_KEY=your_secret_key