# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/recover_db

# Redis
REDIS_URL=redis://localhost:6379/0

# Salla
SALLA_WEBHOOK_SECRET=your_webhook_secret

# WhatsApp Business API
WHATSAPP_TOKEN=your_whatsapp_token
WHATSAPP_PHONE_NUMBER_ID=1089751084228040
WHATSAPP_TEMPLATE_NAME=abandoned_cart_reminder

# App
APP_ENV=development
APP_SECRET_KEY=your_secret_key
REMINDER_DELAY_HOURS=1
